.liu-switch {
  --liu-switch-on-color: var(--liu-color-primary);
  --liu-switch-off-color: var(--liu-border-color);
  --liu-switch-on-border-color: var(--liu-color-primary);
  --liu-switch-off-border-color: var(--liu-border-color);
}

.liu-switch {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  .liu-switch__input{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    &:focus-visible{
      & ~ .liu-switch__core{
        outline: 2px solid var(--liu-switch-on-color);
        outline-offset: 1px;
      }
    }
  }
  &.is-disabled {
    opacity: .6;
    .liu-switch__core {
      cursor: not-allowed;
    }
  }
  &.is-checked{
    .liu-switch__core{
      border-color: var(--liu-switch-on-border-color);
      background-color: var(--liu-switch-on-color);
      .liu-switch__core-action{
        left: calc(100% - 17px);
      }
      .liu-switch__core-inner {
        padding: 0 18px 0 4px;
      }
    }
  }
}

.liu-switch--large {
  font-size: 14px;
  line-height: 24px;
  height: 40px;
  .liu-switch__core {
    min-width: 50px;
    height: 24px;
    border-radius: 12px;
    .liu-switch__core-action {
      width: 20px;
      height: 20px;
    }
  }
  &.is-checked {
    .liu-switch__core .liu-switch__core-action {
      left: calc(100% - 21px);
      color: var(--liu-switch-on-color);
    }
  }
}
.liu-switch--small {
  font-size: 12px;
  line-height: 16px;
  height: 24px;
  .liu-switch__core {
    min-width: 30px;
    height: 16px;
    border-radius: 8px;
    .liu-switch__core-action {
      width: 12px;
      height: 12px;
    }
  }
  &.is-checked {
    .liu-switch__core .liu-switch-core-action {
      left: calc(100% - 13px);
      color: var(--liu-switch-on-color);
    }
  }
}

.liu-switch__core{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 20px;
  min-width: 40px;
  border:1px solid var(--liu-switch-off-border-color);
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: var(--liu-switch-off-color);
  transition: border-color var(--liu-transition-duration),background-color var(--liu-transition-duration);
  .liu-switch__core-action{
     position: absolute;
     border-radius: var(--liu-border-radius-circle);
     left: 1px;
     width: 16px;
     height: 16px;
     background-color: var(--liu-color-white);
     transition: all var(--liu-transition-duration);
  }
  .liu-switch__core-inner{
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 4px 0 18px;
    .liu-switch__core-inner-text{
      font-size: 12px;
      color: var(--liu-color-white);
      user-select: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

    }
  }
}